/* REGOLE GENERALI DELLA PAGINA */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Yusei Magic', sans-serif;
  overflow-x: hidden;
}
.sizing {
  margin: 0 10% 0 10%;
  /* width: 80%;
  margin: 0 auto;
  height: 100%; */
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* REGOLE HEADER */
header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left:0;
}
#upper-div {
  background-color: #defffa;
  height: 5vh;
  border-bottom: 2px solid #2b8eff;
}
#sx-content-header-up {
  float: left;
  line-height: 5vh;
  vertical-align: middle;
}
#sx-content-header-up svg {
  width: 16px;
  height: 16px;
}
#sx-content-header-up a {
  text-decoration: none;
  color: #1a3d38;
}
#dx-content-header-up {
  float: right;
  line-height: 5vh;
  vertical-align: middle;

}
#b1-header-up{
  background-color: transparent;
  width: 60px;
  height: 30px;
  border: 2px solid #ff680a;
  border-radius: 5px;
  color: #ff680a;
  margin-left: 20px;
}
#b2-header-up {
  background-color: #ff680a;
  border: 2px solid #ff680a;
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
/* .fa {
  color: #00fad4;
} */
#under-div{
  height: 5vh;
  background-color: white;
}
#sx-content-header-under{
  float: left;
  line-height: 5vh;
}
#sx-content-header-under img {
  vertical-align: middle;
}
nav {
  float: right;
  line-height: 5vh;
  vertical-align: middle;
}
nav a {
  text-decoration: none;
  margin-left: 10px;
  color: #3d3d59;
}
li {
  display: inline;
}
/* REGOLE MAIN */
/* SEZIONE 1 */
#first {
  background-color: #fff4f0;
  background-image: url("../img/jumbotron.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 1650px;
  /* height: 70vh; */
}
#first-text  {
  padding-top: 150px;
}
#first-text h1{
  color: #1d1e33;
  font-weight: bold;
  font-size: 30pt;
}
#first-text-p{
  padding: 20px 0 20px 0;
  color: #5e5e5d;
}
#first button {
  background-color: #ff680a;
  border: none;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  /* text-align: center; */
}
#first-text-tiny-p {
  padding-top: 20px;
  color: #5e5e5d;
  font-size: 10pt;
}
#border-bottom {
  background-color: #9efff0;
  height: 9.5vh;
  border-top: 2px solid #2b8eff;
  border-bottom: 2px solid #2b8eff;
  margin-top: 270px;
}
/* SEZIONE 2 */
#second {
  background-color: #dbfbff;
  /* height: 120vh; */
  padding-top: 20px;
}
.firstminisection {
  text-align: center;
}
#second-imgAndTitle {
  padding-bottom: 20px;
}
#second-imgAndTitle h1 {
  color: #1d1e33;
  font-size: 30pt;
}
#second-imgAndTitle img{
  width: 300px;
  height: 230px;
}
#second-text {
  color: #1d1e33;
  padding-bottom: 20px;
}
#secondminisection {
  background-color: #fff4f0;
  width: 100%;
  padding: 40px;
}
 #secondminisection-imgAndButton {
  float: left;
  width: 40%;
  text-align: center;
}
#secondminisection img {
  width: 200px;
  height: 200px;
}
#secondminisection-imgAndButton button{
  background-color: #ff680a;
  border: none;
  border-radius: 5px;
  /* transform: translate(-50%,-50%); */
  width: 120px;
  height: 50px;
  color: white;
  font-weight: bold;
}
#secondminisection-text {
  float: left;
  width: 60%;
  padding: 25px;
}
#secondminisection-title, #secondminisection-desc, #secondminisection-feature {
  margin-bottom: 20px;
}
#secondminisection-border{
  display: inline-block;
  float: right;
  border: 1px solid lightgrey;
  width: 70%;
  margin-top: -10px;
}
#secondminisection li {
  margin-left: 20px;
}
#secondminisection li:first-child {
  margin-left: 0;
}
.fa-check-circle {
  color: #ff680a;
}
#thirdminisection {
  width: 100%;
}
.third-col img {
  width: 100px;
  height: 100px;
}
.third-col {
  background-color: #fff4f0;
  width: 30%;
  margin: 50px auto;
  padding: 40px;
  float: left;
  text-align: center;
}
#center {
margin: 50px 5% 50px 5%;
}
#dx {
  float: right;
}
.third-col h3, p, h4{
  margin-top: 20px;
}
.third-col ul {
  margin-top: 20px;
}
.third-col hr {
  margin-top: 60px;
}
.third-col li {
  display: block;
  text-align: left;
}
.third-col button {
  background-color: #ff680a;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}
/*#secondminisection-imgAndButton button {
  text-align: center;
} */
/* SEZIONE 3 */
#third {
  background: linear-gradient(to right, #00b5a3, #00fae1 100%);
  text-align:center;
  color: white;
}
/* SEZIONE 4 */
#fourth {
  background-color: #fffce0;
  height: 60vh;
}
/* FOOTER */
footer {
  background-color: #212245;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer li{
  display: block;
  padding-top: 10px;
}
.footer-menu h4 {
  margin-bottom: 20px;
}
.footer-menu {
  width: 23.3%;
  padding: 30px;
  float: left;
  margin-bottom: 30px;
}
#inline-social ul:first-child{
  margin-top: 20px;
  margin-left: 0;
}
#inline-social li{
  display: inline;
  margin-left: 15px;
}
.footer-menu button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: #212245;
}
footer #lang-ul {
  text-align: center;
}
footer #lang-ul li{
  display: inline;
  margin-left: 10px;
}
footer hr {
  margin-top: 10px;
}
#copyright-logo-dx {
  float: left;
}
#info-legali {
  float: right;
}
#info-legali li {
  display: inline;
  margin-left: 10px;
}
footer .clearfix {
  padding-top: 30px;
  padding-bottom: 30px;
}
