/* REGOLE GENERALI DELLA PAGINA */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Yusei Magic', sans-serif;
  overflow-x: hidden;
}
.sizing {
  margin: 0 15% 0 15%;
  /* width: 80%;
  margin: 0 auto;
  height: 100%; */
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* REGOLE HEADER */
header {
  width: 100%;
  height: 10vh;
  position: fixed;
}
#upper-div {
  background-color: #defffa;
  height: 5vh;
  border-bottom: 2px solid #2b8eff;
}
#sx-content-header-up {
  float: left;
  line-height: 5vh;
  vertical-align: middle;
}
#sx-content-header-up svg {
  width: 16px;
  height: 16px;
}
#sx-content-header-up a {
  text-decoration: none;
  color: #1a3d38;
}
#dx-content-header-up {
  float: right;
  line-height: 5vh;
  vertical-align: middle;

}
#b1-header-up{
  background-color: transparent;
  width: 60px;
  height: 30px;
  border: 2px solid #ff680a;
  border-radius: 5px;
  color: #ff680a;
  margin-left: 20px;
}
#b2-header-up {
  background-color: #ff680a;
  border: 2px solid #ff680a;
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
/* .fa {
  color: #00fad4;
} */
#under-div{
  height: 5vh;
  background-color: white;
}
#sx-content-header-under{
  float: left;
  line-height: 5vh;
}
#sx-content-header-under img {
  vertical-align: middle;
}
nav {
  float: right;
  line-height: 5vh;
  vertical-align: middle;
}
nav a {
  text-decoration: none;
  margin-left: 10px;
  color: #3d3d59;
}
li {
  display: inline;
}
/* REGOLE MAIN */
/* SEZIONE 1 */
#first {
  background-color: #fff4f0;
  background-image: url("../img/jumbotron.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 1500px;
  /* height: 70vh; */
}
#first-text  {
  padding-top: 150px;
}
#first-text h1{
  color: #131636;
  font-weight: bold;
  font-size: 30pt;
}
#first-text-p{
  padding: 20px 0 20px 0;
  color: #5e5e5d;
}
#first button {
  background-color: #ff680a;
  border: none;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}
#first-text-tiny-p {
  padding-top: 20px;
  color: #5e5e5d;
  font-size: 10pt;
}
#border-bottom {
  background-color: #9efff0;
  height: 8.7vh;
  border-top: 2px solid #2b8eff;
  border-bottom: 2px solid #2b8eff;
  margin-top: 270px;
}
/* SEZIONE 2 */
#third {
  background-color: #c2f9ff;
  /* height: 120vh; */
  padding-top: 20px;
}
.firstminisection {
  text-align: center;
}
/* SEZIONE 3 */
#fourth {
  background: linear-gradient(to right, #00b5a3, #00fae1 100%);
  height: 50vh;
}
/* SEZIONE 4 */
#fifth {
  background-color: #fffce0;
  height: 60vh;
}
/* FOOTER */
footer {
  background-color: #212245;
  height: 60vh;
}
